<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/favicon.svg" rel="icon" >

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/CSS/normalize.css" />
  <link rel="stylesheet" href="/CSS/styles.css" />
  <title>Mercado Liebre</title>
</head>

<body>

  <!-- & -------------------HEADER----------------- -->
  <header class="main-header">
    <div class="header-top-bar">
      <img src="images/logo-mercado-liebre.svg" class="logo" />
      <form action="" class="search-bar">
        <input type="text" placeholder="Buscar productos, marcas" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <!-- & burger menu -->
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

    <!-- & Navigation -->
    <nav class="header-bottom-bar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
        <li><a href="/login">Ingresá </a> <i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
  </header>

  <!-- & --------------------MAIN LOGIN -------------------------->
  <main>
    <form action="/log-in" id="login" class="create-form" method="POST">

      <div class="ctrl-form">
        <input type="text" placeholder="Nombre de usuario" class="ctrl" name="user-name">
      </div>

      <div class="ctrl-form">
        <input type="password" name="password" id="" placeholder="Contraseña" class="ctrl">
      </div>

      <div class="ctrl-form">
        <a href="/">
          <input type="button" class="ctrl" value="Enviar"></input></a>
      </div>
    </form>

  </main>

  <!-- & --------------------------END MAIN LOGIN -->

  <footer class="main-footer">
    <div class="footer-top-info">
      <section>
        <i class="fas fa-credit-card"></i>
        <h3><b>Pagá con tarjeta o en efectivo</b></h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i>
        <h3><b>Envío gratis desde $ 2.500</b></h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i>
        <h3><b>Seguridad, de principio a fin</b></h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@
        </p>
      </section>
    </div>

    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>