body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* & Header------------------------------------------ */
header p {
    text-align: center;
}

h2 {
    font-size: 24px;
}
ul {
    list-style: none;
}

.burger-menu {
    text-align: center;
}


/* & main --------------------------------------------*/
section .price {
    font-size: 18px;
}

section .discount {
    font-size: 16px;
}
section .description {
    font-size: 16px;
}