body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* & Header------------------------------------------ */
header {
    background-color: #EAC926;
}

nav a {
    text-decoration: none;
    color: black;
}

header p {
    text-align: center;
}

h2 {
    font-size: 24px;
}
ul {
    list-style: none;
}

.burger-menu {
    text-align: center;
}

.fas.fa-bars{
    background-color: #1259c3;
    padding: 8px;
    color:white;
    border-radius: 5px;
    font-size: 2em;
}
/* & main --------------------------------------------*/
main {
    background-color: #ebebeb;
}

section .price {
    font-size: 18px;
}

section .discount {
    font-size: 16px;
}
section .description {
    font-size: 16px;
}

/* & footer ------------------------------------------ */
footer .fas {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer .feature {
    text-align: center;
}

h3 {
    color: #666;
    line-height: 0px;
}

footer .feature p {
    color:#666;
}