* {
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #ebebeb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* & Header------------------------------------------ */
.main-header {
    background-color: #EAC926;
    padding: 20px;
    /* min-height: 50px; */
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
}

/* ------------------------------------------------- */

.burger-menu {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    font-weight: 400;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    margin: auto;
}

.header-bottom-bar a {
    text-decoration: none;
    color: #222222;
}

.copy-header {
    color: black;
}

ul {
    list-style: none;
}

.search-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 17px;
    border: none;
}


/* & main --------------------------------------------*/
main {
    /* border: solid 1px red; */
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
    margin-top: 24vh;
}

#banner {
    width: 100vw;
    align-self: center;
}

main img {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    color: #666666;
    margin: 10px 0;
}

.price {
    /* border: solid #1259c3 2px; */
    font-size: 1.125rem;
    flex-grow: 0.3;
}

.discount {
    /* border: solid #c72e48 2px; */
    font-size: 1rem;
    flex-grow: 0.7;
    color: #39b54a;
}

.name-item {
    /* border: solid #c72e48 2px; */
    font-size: 1rem;
    width: 100%;
    display: none;
}

.item {
    /* border: solid #1259c3 2px; */
    display: block;
    margin-bottom: 10px;
    background-color: white;
}

.details {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: transform 2s;
}

/* ^  -------------- transform and transition------------*/
.fa-truck:hover {
    /* animation-name: spin-truck;
    animation-duration: 1s;
    animation-timing-function: linear; */
    transform: rotate(-90deg);
}
/* ^  -------------- end ------------*/

/* & footer ------------------------------------------ */
.main-footer {
    background-color: #ffffff;
    min-height: 50px;
    margin-top: 20px;
}

.footer-top-info section {
    /* border: solid 1px rgb(27, 56, 221); */
    text-align: center;
    padding: 20px 20px 0px;
    max-width: 392px;
}

.copyright {
    margin: 28px 0 10px 25px;
}

footer section .fas {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

h3 {
    color: #666;
    /* line-height: 0px; */
}

footer .feature p {
    color: #666;
}
/* ^  -------------- transform and transition------------*/
footer section .fas:hover {
    color: #03264C;
}
/* ^  -------------- end------------*/

/*? --------------- Breakpoints -----------------------------------*/
/* ToDo: Cellphones */
@media (min-width: 0px) {

    .header-top-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        /* border: solid 2px red; */
        width: 50%;
        padding-right: 5px;
    }

    /* ---------------------------- */
    .search-bar {
        /* parent */
        /* border: solid 2px red; */
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: right;
    }

    .fas.fa-search {
        /* child 1 */
        color: #666;
    }

    /* --------------------------------- */
    .copy-header {
        /* border: solid 2px red; */
        font-weight: 400;
        width: 100%;
        text-align: center;
        margin: 25px 0;
        font-size: inherit;
    }

    .header-bottom-bar {
        display: none;
    }

    .footer-top-info {
        /* border: solid 1px red; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    /* ^  -------------- transform and transition------------*/

    .details:hover .name-item {
        display: flex;
    }
    /* ^  -------------- end ------------*/
}

/*TODO: tablets  */
@media (min-width: 480px) {
    /* ^  -------------- transform and transition------------*/
    .item {
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    .item:hover  {
        box-shadow: 0px 0px 10px #646464;
    }
    /* ^  -------------- end------------*/

    /* .name-item {
        display: flex;
    } */
    main {
        margin-top: 14.5vh;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        width: 45.999999%;
        background-color: white;
    }

    .burger-menu {
        display: none;
    }

    /* --------------------------------------- */
    .header-top-bar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 50px;
        text-align: center;
    }

    .logo {
        /* border: solid 2px rgb(80, 47, 201); */
        width: 30%;
    }

    .copy-header {
        /* border: solid 2px red; */
        text-align: right;
        margin: auto;
        width: 20%;
        font-size: 0.9em;
    }

    .header-bottom-bar {
        /* border: dotted 2px red; */
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.9em;
        justify-content: space-between;
    }

    .header-bottom-bar ul {
        /* border: dotted 2px rgb(35, 201, 71); */
        display: flex;

    }

    .header-bottom-bar li {
        /* border: dotted 2px rgb(86, 24, 185); */
        margin: 0 5px;
        padding-top: 20px;
    }

    .footer-top-info {
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 20px;
    }


}

/* TODO: desktop */
@media (min-width: 769px) {

    main {
        margin-top: 15.5vh;
    }

    .item {
        width: 24%;
    }

    /* &------------------------------- */
    .copy-header {
        width: 240px;
        font-size: 1.4em;
    }

    .header-bottom-bar {
        padding-top: 20px;
        font-size: 1.4em;
    }

    .header-bottom-bar li {
        margin: 0 5px;
    }
}

/* ? ----------------Form------------------------- */

.create-form {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    padding: 20px 15px;

}

.ctrl-form {
    margin-bottom: 15px;
}

.input-radio label {
    /* margin-bottom: 5px; */
    float: left;
    width: 100px;
}

input[type="radio"] {
    float: left;
    width: 20px;
    margin-right: 10px;
}

.checkbox label[type="checkbox"] {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.checkbox input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

input,
.ctrl {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.ctrl-form button[type="submit"] {
    background: #0044aa;
    color: white;
    /* transition: background-color 0.3s; */
}

.ctrl-form button[type="reset"] {
    background-color: #aa0044;
    color: white;
}
/* ^  -------------- transform and transition------------*/
.ctrl-form button[type="submit"]:hover {
    background-color: #0022AA;
}
/* ^  -------------- end------------*/


/* ? ----------------- end ----------------------------- */



/* *  -------------- animation -----------*/

/* @keyframes spin-truck {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
} */